PORT=3001
MONGODB_URI=mongodb+srv://<usuario>:<password>@cluster0.xxxxx.mongodb.net/licoreria369
JWT_SECRET=pon_aqui_una_clave_secreta_larga
CLOUDINARY_CLOUD_NAME=tu_cloud_name
CLOUDINARY_API_KEY=tu_api_key
CLOUDINARY_API_SECRET=tu_api_secret
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin123
